.tes-certificates {
    & .tes-view-layout-title {
        background-image: url("../../Images/offer.webp");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
}
